.h2 { 
  display: inline;
  margin-left: 20px;
  color :black;
  border: 2px solid orange;
  background-color: white;
  padding-inline: 10px;
  border-radius: 30px;
  
}
span {
  border: none;
  margin: 0;
  padding: 0;
  
}
body {
  background-color: azure;
  
}
button {
  margin: 20px;
  color : black;
  border: 1px solid orange;
  background-color: white;
  display: block;
  
  
}
div {
  border: 2px solid orange;
  background-color: white;
  margin: 10px;
}
div div {
  margin: 10px;
  background-color: orange;
  color: black;
  
  justify-content: space-between;
  
  
}
div div img {
  height: 70px;
  width: 70px;
  float: left;
}
p {
  display: inline;
}
.a {
  color: orange;
  border: 2px solid orange;
  background-color: white;
  padding-inline: 10px;
}