body {
    font-family:  sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;

    
    align-items: center;
    text-align: center;
    

}
#dashboard {
background-color: chartreuse;
width: 100%;
margin-top: 0;
padding-top: 20px;
}
.balance {
    font-size: large;
    font-weight: 700;
    color: black;
    font-family: serif;
    margin: 10px;
    background-color: aqua;
    
}
#container {
    background-color: white;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#investment-plans > button {
 color: black;
 background-color: orangered;
}
#investment-plans > a > button {
    background-color: orange;
}
h2, h3 ,h4 ,p {
    margin: 0;
    font-family: serif;}
@media (max-width: 400px) {
    h4 {
        color: black;
        font-size: 1rem;
    }
}
@media (max-width: 400px) {
   p  {
    font-size: 1rem;
    color: rgb(116, 113, 49);
   } 
}
input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding-top: 3px;
    margin: 5px 0;
    
    background-color: orange;
    color: black;
    
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
    color: white;
}
.withdraw {
    color: greenyellow;
    border-radius: 30px;
    color: black;
}
.ivest {
    display: flex;
    justify-content: space-between;
    
    border: 1px solid orange;
    padding: 20px;
    align-items: center;
    background-color: aquamarine;
    margin: 5px;
    border-radius: 10px;

}
.invest span {
    color: orange;
    display: inline;

}
#wallet-balance {
    color: black;
    background-color: rgb(255, 208, 0);
    padding-inline: 3px;
    border-radius: 10px;
}
.back {
   position: absolute;
   left: 0;
   top: 0;
}
@media (max-width: 400px){
    .ivest {
        font-size: small;
        padding: 5px;
        
    }
}



